{% extends 'main/shablon.html' %}

{% block body %}
    <div class="glavn">
      <h1>Обо мне</h1>
      <p>
        Добро пожаловать на мой сайт! Я - опытный веб-разработчик, который
        создает качественные и функциональные веб-приложения. Я использую
        современные технологии и инструменты, чтобы обеспечить надежную работу
        веб-сайтов. Если вы ищете профессионального веб-разработчика, который
        может создать для вас уникальный веб-сайт, то вы обратились по адресу.
        Свяжитесь со мной, чтобы обсудить ваши потребности и начать работу над
        вашим проектом уже сегодня! Для подробной информации обо мне посетите
        страницу "Обо мне".
      </p>
    </div>
{% endblock %}

{% block title %}
    Главная страница
{% endblock %}